repos:
  - repo: https://github.com/facebook/pyrefly-pre-commit
    rev: 0.46.3
    hooks:
      - id: pyrefly-check
        name: Pyrefly (type checking)
        pass_filenames: false
        language: system
